In [39]:
import pandas as pd
from sklearn import svm
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

# Будемо проводити задачу класифікації мобільних телефонів за ціновими діапазонами

In [40]:
data = pd.read_csv("mobile.csv")
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0,1

### Порахуємо кількість зразків у класифікуємому класі

In [41]:
data['price_range'].value_counts()

3    500
2    500
1    500
0    500
Name: price_range, dtype: int64

### Розділимо дані на характеристики і клас

In [42]:
X = data.drop(['price_range'], axis=1)
Y = data['price_range']

### Розділимо дані на тренувальну і тестову вибірку

In [43]:
X_train, X_test, Y_train, Y_test = train_test_split(X , Y,test_size=0.25,random_state=52)

### Нормалізація тренувальних даних

In [44]:
norm = preprocessing.MinMaxScaler()
norm.fit(X_train)
X_train_norm = norm.transform(X_train)

### Нормалізація тестових даних

In [45]:
norm.fit(X_test)
X_test_norm = norm.transform(X_test)

# Класифікація даних. В якості класифікатора був обран метод лінійних векторів.

In [46]:
model = svm.SVC()
model.fit(X_train_norm,Y_train)
Y_hat = model.predict(X_test_norm)
print("Accuracy:")
print((metrics.accuracy_score(Y_test, Y_hat))*100,"%")

Accuracy:
85.6 %

# Побудуємо матрицю помилок

In [57]:
conf_matrix = metrics.confusion_matrix(Y_test,Y_hat)
conf_matrix = pd.DataFrame(conf_matrix, index= [0,1,2,3], columns=[0,1,2,3])
conf_matrix

     0    1   2    3
0  109   20   0    0
1    6  105  14    0
2    0   10  92    9
3    0    0  13  122