## Лабораторна робота №2
  з дисципліни "Нейронні мережі"
  
  студента групи АнД-41
  
  Бережного Дмитра

## Завдання:
1. Поглиблено вивчити функцію make_regression.
2. Згенерувати набір даних за допомогою означеної функції, з використанням якнайбільшої кількості параметрів. 3. Розмірність набору даних прийняти у вигляді (100000х(30-n)), де n - номер за списком.
4. Здійснити моделювання згенерованого набору даних та візуалізацію результатів.
5. Результати оформити у вигляді файлів:

   а) набір даних у форматі .csv;
   
   б) код для формування набору даних у форматі .ipynb;
   
   в) код для моделювання та візуалізації у форматі .ipynb.

   Результати викласти у репозиторії GitHub (папка Lab2).
   Підготуватися до захисту лабораторрної роботи (пояснення коду, відповіді на запитання за темою)

In [11]:
from sklearn.datasets import make_regression
import pandas as pd

### Створимо набір даних и виведемо перші 5 рядків X

In [12]:
X,Y,coef = make_regression(n_samples = 1500000 #кільість зразків(рядків)  
                           ,n_features = 5 #кільість характеристик(колонок)
                           ,n_informative = 5, #кільість інформативних характеристик 
                           n_targets = 1, # кількість функцій 
                           random_state = 123, #задання рандомного стану
                           bias = 0.0001,#зміщення моделі
                           effective_rank = None, #кількість сингулярних векторів, 
                    #необхідних для пояснення більшості вхідних даних лінійними комбінаціями(сприяє кореляції)
                           tail_strength = 0.0,#відносна важливість жирного шумового хвоста профілю сингулярних значень
                           noise = 0.0001, #степінь шуму
                           shuffle = False, #якщо так - то перемішуються зракзи та функції
                           coef = True) # якщо так, то повернуться коефіціенти регресійної моделі)
X[:5]

array([[-1.0856306 ,  0.99734545,  0.2829785 , -1.50629471, -0.57860025],
       [ 1.65143654, -2.42667924, -0.42891263,  1.26593626, -0.8667404 ],
       [-0.67888615, -0.09470897,  1.49138963, -0.638902  , -0.44398196],
       [-0.43435128,  2.20593008,  2.18678609,  1.0040539 ,  0.3861864 ],
       [ 0.73736858,  1.49073203, -0.93583387,  1.17582904, -1.25388067]])

### Коефіціенти регресії

In [13]:
coef

array([ 4.62606431, 37.79231528, 30.87459737, 70.23501967, 36.31377017])

### Виведемо перші 5 Y

In [14]:
Y[:5]

array([-85.39888437, -39.87422554, -21.66937508, 233.41768257,
        67.90727773])

### Створимо датафрейм, де будуть знаходитися X та Y (останньою колонкою) і збережемо його у файл

In [15]:
df_X = pd.DataFrame(X)
df_Y = pd.DataFrame(Y)
df = pd.concat([df_X,df_Y], axis = 1)
df

                0         1         2         3         4           0
0       -1.085631  0.997345  0.282978 -1.506295 -0.578600  -85.398884
1        1.651437 -2.426679 -0.428913  1.265936 -0.866740  -39.874226
2       -0.678886 -0.094709  1.491390 -0.638902 -0.443982  -21.669375
3       -0.434351  2.205930  2.186786  1.004054  0.386186  233.417683
4        0.737369  1.490732 -0.935834  1.175829 -1.253881   67.907278
...           ...       ...       ...       ...       ...         ...
1499995  0.757698  1.754191  2.307193  0.607563 -0.873720  151.977919
1499996 -1.264202 -0.694934 -0.555368 -0.992092 -0.445643 -135.120541
1499997 -0.066262  0.285042 -1.808039  0.536464  1.014574   29.164973
1499998  0.607030  1.656807 -0.792524  2.217787  0.357740  209.711065
1499999  0.202975  0.061917 -0.883371 -1.218598 -0.570011 -130.282256

[1500000 rows x 6 columns]

In [16]:
df.to_csv('Input data.csv')